/* -----------------------------------------------RESET----------------------------------------------- */
@import url('https://fonts.googleapis.com/css2? family= Merienda:wght@400;700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #493A5B;
}

/* -----------------------------------------------HEADER----------------------------------------------- */
header{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
 }

ul{
    display: flex;
    width: 80%;
    justify-content: space-around;
    list-style: none;

}

li>a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 700;
    text-shadow: 4px 4px 10px red;
    font-family: 'Bungee', sans-serif;
}

/* -----------------------------------------------Respirações----------------------------------------------- */


section{
    display: flex;
    align-items: center;
    height: 92vh;
    justify-content: space-around;
}

.box-img-respiracao{
   
    width: 600px;
    height: 420px;
    box-sizing: content-box;
}

.img-respiracao{
    border: 8px solid black;
    width: 600px;
    height: 420px;
    border-radius: 40px;
}

.box-title-respiracao{
    width: 550px;
}

.box-title-respiracao > h1{
    margin-bottom: 50px;
    font-size: 2.5em;
    text-align: center;
}

.box-title-respiracao > p{
    text-align: justify;
    line-height: 45px;
    color: white;
    font-size: 1.8em;
    font-weight: 700;
    text-shadow: 3px 2px 4px black;
    font-family: 'Merienda', cursive;
}

.box-title-respiracao > p > a,span{
    text-decoration: none;  
    background-color: #1e1725;
    border: 4px solid black;  
    padding: 7px;
    border-radius: 15px;
    color: white;
}









@media screen and (min-width: 300px) and (max-width: 1400px){
    header{
        display: block;
    }

    ul{
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    li{
        margin: 30px 0;
        border: 3px solid red;
    }


    section{
        flex-direction: column-reverse;
        margin: 130px 0;
        height: auto;
    }


    .box-img-respiracao{
        text-align: center;
        width: auto;
        margin-top: 30px;
    }

    .img-respiracao{
        width: 87%;
        height: 250px;
    }


    .box-title-respiracao{
        width: 86%;
        margin: 25px;
    }


    .box-title-respiracao > p{
        text-align: left;
        line-height: 40px;
        color: white;
        font-size: 20px;
    }
    
}