@import url('https://fonts.googleapis.com/css2? family= Merienda:wght@400;700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #493A5B;
    background-size: cover;
}


/* -----------------------------------------------HEADER----------------------------------------------- */
header{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
 }

ul{
    display: flex;
    width: 80%;
    justify-content: space-around;
    list-style: none;
}

li>a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 700;
    text-shadow: 4px 4px 10px red;
    font-family: 'Bungee', sans-serif;
}

h1{
    color: white;
    text-align: center;
    font-size: 52px;
    text-shadow: 2px 2px 5px black;
    margin: 20px 0;
}

figure{
    margin: 0 auto;
}

img{
    width: 700px;
    border-radius: 15px;
}

#box-historia{
    width: 60vw;
    margin: 0 auto;
}

.box-img{
    float: left;
    margin: 30px;
}

figcaption{
    color: white;
    text-shadow: 3px 3px 2px black;
    margin: 5px 0;
}

p{
    margin: 20px;
    font-size: 25px;
    text-align: justify;
    color: white;
    text-shadow: 3px 3px 2px black;
    font-weight: bold;
    font-family: 'Merienda', cursive;
}



@media screen and (min-width: 300px) and (max-width: 1000px){
    header{
        display: block;
    }

    ul{
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    li{
        margin: 30px 0;
        border: 3px solid red;
    }


    #box-historia{
        width: 90vw;
    }

    .box-img{
        float: none;
        margin: 30px;
    }

    img{
        width: 100%;
    }
}




